<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="IQConnect:login" value=""/>
    <add key="IQConnect:password" value=""/>
    <add key="IQConnect:product_id" value=""/>
    <add key="IQConnect:product_version" value=""/>
  </appSettings>
</configuration>